// header
= render partial: "config/header"

%nav.bread-crumbs
  %ul
    %li
      = link_to "/" do
        %span メルカリ
      = fa_icon 'angle-right', class: 'icon icon-angle-right'
    %li
      = link_to "/" do
        %span マイページ
      = fa_icon 'angle-right', class: 'icon icon-angle-right'
    %li
      = link_to "/" do
        %span ログアウト

%main.mypage-main.clearfix
  .mypage-main__l-contents
    .mypage-main__inner
      %form.mypage-main__inner-box
        .mypage-main__inner-box--content
          %button.btn-defalt.btn-red
            ログアウト

  .mypage-main__sidebar
    %nav.mypage-main__sidebar-nav
      %ul.mypage-main__sidebar-nav__list
        %li
          = link_to "/", class:"mypage-main__sidebar-nav__list--item" do
            マイページ
            = fa_icon 'angle-right', class: 'icon icon-angle-right'
        %li
          = link_to "/", class:"mypage-main__sidebar-nav__list--item" do
            お知らせ
            = fa_icon 'angle-right', class: 'icon icon-angle-right'
        %li
          = link_to "/", class:"mypage-main__sidebar-nav__list--item" do
            やることリスト
            = fa_icon 'angle-right', class: 'icon icon-angle-right'
        %li
          = link_to "/", class:"mypage-main__sidebar-nav__list--item" do
            いいね！一覧
            = fa_icon 'angle-right', class: 'icon icon-angle-right'
        %li
          = link_to "/", class:"mypage-main__sidebar-nav__list--item" do
            出品する
            = fa_icon 'angle-right', class: 'icon icon-angle-right'
        %li
          = link_to "/", class:"mypage-main__sidebar-nav__list--item" do
            出品した商品 - 出品中
            = fa_icon 'angle-right', class: 'icon icon-angle-right'
        %li
          = link_to "/", class:"mypage-main__sidebar-nav__list--item" do
            出品した商品 - 取引中
            = fa_icon 'angle-right', class: 'icon icon-angle-right'
        %li
          = link_to "/", class:"mypage-main__sidebar-nav__list--item" do
            出品した商品 - 売却済み
            = fa_icon 'angle-right', class: 'icon icon-angle-right'
        %li
          = link_to "/", class:"mypage-main__sidebar-nav__list--item" do
            出品した商品 - 取引中
            = fa_icon 'angle-right', class: 'icon icon-angle-right'
        %li
          = link_to "/", class:"mypage-main__sidebar-nav__list--item" do
            出品した商品 - 過去の取引
            = fa_icon 'angle-right', class: 'icon icon-angle-right'
        %li
          = link_to "/", class:"mypage-main__sidebar-nav__list--item" do
            ニュース一覧
            = fa_icon 'angle-right', class: 'icon icon-angle-right'
        %li
          = link_to "/", class:"mypage-main__sidebar-nav__list--item" do
            評価一覧
            = fa_icon 'angle-right', class: 'icon icon-angle-right'
        %li
          = link_to "/", class:"mypage-main__sidebar-nav__list--item" do
            ガイド
            = fa_icon 'angle-right', class: 'icon icon-angle-right'
        %li
          = link_to "/", class:"mypage-main__sidebar-nav__list--item" do
            お問い合わせ
            = fa_icon 'angle-right', class: 'icon icon-angle-right'

      %h3.mypage-main__sidebar-nav--title
        売り上げ・ポイント

      %ul.mypage-main__sidebar-nav__list
        %li
          = link_to "/", class:"mypage-main__sidebar-nav__list--item" do
            売上・振込申請
            = fa_icon 'angle-right', class: 'icon icon-angle-right'
        %li
          = link_to "/", class:"mypage-main__sidebar-nav__list--item" do
            ポイント
            = fa_icon 'angle-right', class: 'icon icon-angle-right'

      %h3.mypage-main__sidebar-nav--title
        設定
      
      %ul.mypage-main__sidebar-nav__list
        %li
          = link_to "/", class:"mypage-main__sidebar-nav__list--item" do
            プロフィール
            = fa_icon 'angle-right', class: 'icon icon-angle-right'
        %li
          = link_to "/", class:"mypage-main__sidebar-nav__list--item" do
            住居変更
            = fa_icon 'angle-right', class: 'icon icon-angle-right'
        %li
          = link_to "/", class:"mypage-main__sidebar-nav__list--item" do
            お支払い方法
            = fa_icon 'angle-right', class: 'icon icon-angle-right'
        %li
          = link_to "/", class:"mypage-main__sidebar-nav__list--item" do
            メール/パスワード
            = fa_icon 'angle-right', class: 'icon icon-angle-right'
        %li
          = link_to "/", class:"mypage-main__sidebar-nav__list--item" do
            本人確認情報
            = fa_icon 'angle-right', class: 'icon icon-angle-right'
        %li
          = link_to "/", class:"mypage-main__sidebar-nav__list--item" do
            電話番号の確認
            = fa_icon 'angle-right', class: 'icon icon-angle-right'
        %li
          = link_to "/", class:"mypage-main__sidebar-nav__list--item logout" do
            ログアウト
            = fa_icon 'angle-right', class: 'icon icon-angle-right'



// app-banner
= render partial: "config/app-banner"

//footer
= render partial: "config/footer"

//sell-btn
= render partial: "config/sell-btn"