.single
  = render partial: "config/single-header"
  %main.single-main
    .single-main__contents
      .sell-contents
        %h2.single-main__title
          商品の情報を入力
        = form_for @item, html: {class: "sell-up"} do |f|
          .sell-up__box
            %h3.sell-up__title
              出品画像
              %span.form-require
                必須
            %p
              最大10枚までアップロードできます。
            
            .sell-drop.clearfix            
              = f.fields_for :images do |c|
                = c.label :image, class: "sell-drop__box"
                = c.file_field :image, multiple: true, class: "none";
                .sell-drop__box--text
                  ドラッグアンドドロップ
                  またはクリックしてファイルをアップロード
              
          .sell-content
            .form-group
              = f.label :name, "商品名"
              %span.form-require
                必須
              %div
                = f.text_field :name, class: "input-default", placeholder: "商品名（必須 40文字まで)"
                - if @item.errors[:name].any?
                  = render partial: "config/error-text"

            .form-group
              = f.label :name, "商品の説明"
              %span.form-require
                必須
            = f.text_area :text, class: "textarea-default", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
            - if @item.errors[:text].any?
              = render partial: "config/error-text"

          .sell-content.clearfix
            %h3.sell-content__title
              商品の詳細
            .sell-content__box
              .form-group
                %label
                  大カテゴリー
                  %span.form-require
                    必須
                %div
                  .select-wrap
                    = f.select :category_id, Item.l_category_ids_i18n.invert, {prompt: "---"}, class: "select-default" 
                    = fa_icon 'angle-down', class: "icon icon-angle-down"
                    - if @item.errors[:category_id].any?
                      = render partial: "config/error-select"
              
              .form-group
                %label
                  商品の状態
                  %span.form-require
                    必須
                %div
                  .select-wrap
                    = f.select :status, Item.statuses_i18n.invert, {prompt: "---"}, class: "select-default" , placeholder: 0
                    = fa_icon 'angle-down', class: "icon icon-angle-down"
                    - if @item.errors[:status].any?
                      = render partial: "config/error-select"

          .sell-content.clearfix
            %h3.sell-content__title
              配送について
            .sell-content__box
              .form-group
                %label
                  配送料の負担
                  %span.form-require
                    必須
                %div
                  .select-wrap
                    = f.select :shipping_cost, Shipping_cost.all.map{|i| ["#{i.name}", i.id] }, {prompt: "---"}, {class: "select-default", id: "s_cost"}
                    = fa_icon 'angle-down', class: "icon icon-angle-down"
                    - if @item.errors[:shipping_cost].any?
                      = render partial: "config/error-select"
                  
              .form-group#s_method_all.none
                %label
                  配送の方法
                  %span.form-require
                    必須
                %div
                  .select-wrap
                    = f.select :shipping_method, Shipping_method.all.map{|i| ["#{i.name}", i.id] }, {prompt: "---"}, {class: "select-default"}
                    = fa_icon 'angle-down', class: "icon icon-angle-down"
                    - if @item.errors[:shipping_metod].any?
                      = render partial: "config/error-select"

              .form-group#s_method_part.none
                %label
                  配送の方法
                  %span.form-require
                    必須
                %div
                  .select-wrap
                    = f.select :shipping_cost, @shipping_method_part.map{|i| ["#{i.name}", i.id] }, {prompt: "---"}, {class: "select-default"}
                    - if @item.errors[:shipping_method].any?
                      = render partial: "config/error-select"

              .form-group
                %label
                  発送元の地域
                  %span.form-require
                    必須
                %div
                  .select-wrap
                    = f.select :prefectures, Item.prefectures_i18n.invert, {prompt: "---"}, {class: "select-default"}
                    = fa_icon 'angle-down', class: "icon icon-angle-down"
                    - if @item.errors[:prefectures].any?
                      = render partial: "config/error-select"

              .form-group
                %label
                  発送までの日数
                  %span.form-require
                    必須
                %div
                  .select-wrap
                    = f.select :ship_date, Item.ship_dates_i18n.invert, {prompt: "---"}, {class: "select-default"}
                    = fa_icon 'angle-down', class: "icon icon-angle-down"
                    - if @item.errors[:ship_date].any?
                      = render partial: "config/error-select"

              
          .sell-content.clearfix
            %h3.sell-content__title
              販売価格(300〜9,999,999)
            .sell-content__box
              %ul.sell-content__price
                %li.form-group
                  .clearfix
                    %label.sell-content__price--title
                      価格
                      %span.form-require
                        必須
                    
                    .sell-content__price--input
                      ¥
                      %div
                        = f.text_field :price, class: "input-default", placeholder: "例)300"
                        - if @item.errors[:price].any?
                          = render partial: "config/error-text"
                      
                %li.clearfix
                  .sell-content__price--title
                    販売手数料 (10%)
                  .l-right
                    ー
                %li.clearfix
                  %label.sell-content__price--title
                    販売利益
                  .l-right
                    ー
          
          .sell-content.sell-btn-box
            %div
              %p
                禁止されている出品、行為を必ずご確認ください。
              %p
                またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
              %p
                また、出品をもちまして加盟店規約に同意したことになります。
            = f.submit "出品する", class: "btn-default btn-red"
            = link_to "#", class: "btn-default btn-gray" do
              戻る


  
  = render partial: "config/single-footer"



