// header
= render partial: "config/header"

%nav.bread-crumbs
  %ul
    %li
      = link_to "/" do
        %span メルカリ
      = fa_icon 'angle-right', class: 'icon icon-angle-right'
    %li
      = link_to "/" do
        %span マイページ
      = fa_icon 'angle-right', class: 'icon icon-angle-right'
    %li
      = link_to "/" do
        %span 本人確認

%main.mypage-main.clearfix
  .mypage-main__l-contents
    .mypage-main__box
      %h2.mypage-main__box-title
        本人情報の登録
      %p.mypage-main__box-text
        お客さまのあんしん・あんぜんな取引のため、本人情報のご登録をお願いしております。
      
      %form.mypage-main__inner
        .form-group
          %label
            お名前
          %span.form-require
            必須
          %input{type: "text", name: "family_name_kanji", placeholder: "例)山田", class: "input-defalt"}
          %input{type: "text", name: "family_name_kanji", placeholder: "例)彩", class: "input-defalt"}

        .form-group
          %label
            お名前カナ
          %span.form-require
            必須
          %input{type: "text", name: "family_name_kanji", placeholder: "例)ヤマダ", class: "input-defalt"}
          %input{type: "text", name: "family_name_kanji", placeholder: "例)アヤ", class: "input-defalt"}

        .form-group
          %label
            郵便番号
          %span.form-arbitrary
            任意
          %input{type: "text", name: "family_name_kanji", placeholder: "例)1234567", class: "input-defalt"}

        .form-group
          %label
            都道府県
          %span.form-require
            必須
          %input{type: "text", name: "family_name_kanji", placeholder: "例)神奈川県", class: "input-defalt"}

        .form-group
          %label
            市区町村
          %span.form-require
            必須
          %input{type: "text", name: "family_name_kanji", placeholder: "例)横浜市緑区", class: "input-defalt"}

        .form-group
          %label
            番地
          %span.form-require
            必須
          %input{type: "text", name: "family_name_kanji", placeholder: "例)青山1-1-1", class: "input-defalt"}

        .form-group
          %label
            建物名
          %span.form-arbitrary
            任意
          %input{type: "text", name: "family_name_kanji", placeholder: "例)柳ビル103", class: "input-defalt"}

        .form-group
          %label
            生年月日
          %span.form-require
            必須
          %br/
          .birthday-select-wrap
            .select-contents
              %select.select-default 
                %option
                  1900                
                %option
                  1901
                %option
                  1902
              = fa_icon 'angle-down', class: "icon icon-angle-down"

            %span
              年

          .birthday-select-wrap
            .select-contents
              %select.select-default 
                %option 
                  1
                %option
                  2
                %option
                  3
              = fa_icon 'angle-down', class: "icon icon-angle-down"

            %span
              月

          .birthday-select-wrap
            .select-contents
              %select.select-default 
                %option
                  1
                %option
                  2
                %option
                  3
              = fa_icon 'angle-down', class: "icon icon-angle-down"

            %span
              日

          %p.mypage-main__inner--text
            ※出品されたことがある、本人情報未登録のお客さまもご対象となります。

          %button.btn-default.btn-red
            登録する

          .form-group.text-right
            %p
              = link_to "/" do
                本人情報の登録について
              = fa_icon 'angle-right', class: "icon icon-angle-right"
          
  // sidebar
  = render partial: "config/sidebar"

// app-banner
= render partial: "config/app-banner"

//footer
= render partial: "config/footer"

//sell-btn
= render partial: "config/sell-btn"